#favCuisines {
  background-color: green;
}

#favDishes {
  background-color: red;
}

.img {
  display: flex;
  justify-content: space-between;
}
img {
  border-radius: 15px;
}

.list {
  padding: 20px;
  border-radius: 10px;
}
